# Habilitar la reescritura de URLs
RewriteEngine On

# Establecer la base de la reescritura, generalmente es la ruta de tu proyecto
RewriteBase /webAranda

# Regla para redirigir todas las solicitudes a index.php (a menos que se trate de un archivo o carpeta existente)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ Pages/404.php [L]
# Opcional: Redireccionar www a no-www (o viceversa)
# Esto es para que siempre uses la misma versión de tu dominio
# Redirigir www a no-www:
RewriteRule ^$ Pages/inicio.php [L]
# RewriteRule ^contacto$ webAranda/pages/contacto.php [L]
# RewriteRule ^contacto/hola$ pages/contacto.php [L]

# O redirigir no-www a www:
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Opcional: Forzar HTTPS (si estás usando SSL)
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]